.Categories{
    height: fit-content;
    padding: 0rem 3rem 0rem 3rem;
}


.ver_mas{
    margin-top: 20px;
    text-decoration: underline;
}

.h2_categories {
    padding: 10px 0px;
    font-size: 25px;
} 

.container-categories p{
    font-size: 14px;
    width: 90%;
}

.filtro_ordenar{
    width: 30%;
    
    height: 100px;
}

.btn_filter{
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #000;
}