.Categories{
    width: 100%;
    max-width: 1351px;
    margin: 0 auto;
    overflow-x: hidden;
    height: fit-content;
    padding: 0rem 3rem 0rem 3rem;
}




.ver_mas{
    margin-top: 20px;
    text-decoration: underline;
}

.h2_categories {
    padding: 10px 0px;
    font-size: 25px;
} 
.container-categories{
    overflow-x: auto;
}

.circle-cat{
    min-width: 70px;
}

.container-categories p{
    font-size: 14px;
    width: 100%;
}

.filtro_ordenar{
    width: 200px;
    height: 100px;
}

.btn_filter{
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #000;
}