.hero {
    background-color: #f5f5f5;
    width: 100%;
    height: 52vh;
    max-height: 460px;
}

nav {
    display: flex;
    padding: 15px 40px 15px 60px ;
    background-color: rgb(0,0,0,0.01);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 134;
    width: 100%;
    max-width: 1350px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 100%;
    color: var(--color-white);
    font-weight: 400;
    padding: 0 20px;
}

.nav-links li {
    display: flex;
    
}

.nav-links li a {
    z-index: 2;
    font-weight: 800;
}

.log-contain{
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.log-in{
    border-radius: 40px;
    border: 1px solid var(--color-white);
    padding: 6px 15px;    
    font-weight: 800;
    color: var(--color-white);
}

.logo {
    z-index: 2;
    border-radius: 100%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.img-container {
    position: relative;
    background: #d63f3f;
    width: 100%;
    height: 50vh;
    max-height: 400px;
}

.img-container .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 50vh;
    max-height: 400px;
    background: rgb(45,40,40);
background: linear-gradient(180deg, rgba(45, 40, 40, 0.705) 1%, rgba(84,84,157,0.3113620448179272) 12%);
}

.fondo-img{
    width: 100%;
    height: 50vh;
    max-height: 400px;
    background: url(../../public/images/bgmain.webp);
    background-size: cover;
    background-position: center 10% ; 
    background-repeat: no-repeat;
    z-index: 0;
}

.img-container h1 {
    font-size: 50px;
    font-weight: 700 ;
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: var(--font-poppins);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    z-index: 2;
}


.img-container a{
    font-size: 20px;
    font-weight: 600 ;
    text-decoration: underline;
    position: absolute;
    font-family: var(--font-poppins);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    z-index: 2;
}

.search {
    z-index: 2;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.search-container {
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    gap: 10px;
    top: -35px;
    width: 60%;
    margin: 10px;
    padding: 13px 23px;
    background-color: var(--color-white);
    box-shadow: 0px 12px 27px -9px rgba(0,0,0,0.65);
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-container svg {
    margin-top: 1px;
    width: 20px;
    height: 20px;
    
}

.search-container input {
    border: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    
    .img-container h1 {
        font-size: 40px;
    }


}

@media (max-width: 800px){
    .img-container h1{
        font-size: 38px;

    }
}