<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/buscador.css">
    <link rel="icon" type="image/svg+xml" href="../../public/images/Logo.webp" />
    <title>ETA - Buscando Eventos, Toures & Actividades en Cartagena </title>
</head>

<body>
    <nav>
        <div class="contain-nav flex">
            <div class="center logo-ept">
                <img src="../../public/images/Logo_removebg.png" class="logo" alt="logo" loading="lazy" />
            </div>
            <div class="search">
                <div class="search-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256" {...props}>
                        <path fill="currentColor"
                            d="M232.49 215.51L185 168a92.12 92.12 0 1 0-17 17l47.53 47.54a12 12 0 0 0 17-17ZM44 112a68 68 0 1 1 68 68a68.07 68.07 0 0 1-68-68">
                        </path>
                    </svg>
                    <input type="text" placeholder="Buscar eventos, lugares, viajes..." />
                </div>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Explorar</a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" {...props}>
                        <path fill="currentColor" fill-rule="evenodd" d="m6 7l6 6l6-6l2 2l-8 8l-8-8z"></path>
                    </svg>
                </li>
                <li><a href="#">Guardado</a></li>
                <li><a href="#">Asistente</a></li>
            </ul>
            <div class="log-contain center">
                <a href="#" class="log-in">Log In</a>
            </div>
        </div>
    </nav>

    <section class="categories">
        <div class="categories-container">
            <div class="container-categories">
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/iconic.webp" alt="Categoria Iconicos" />
                        <p>Icónicos</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/acuatico.webp" alt="Categoria Acuáticos" />
                        <p>Acuáticos</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/foodie.webp" alt="Foodies" />
                        <p>Foodies</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/islas.webp" alt="Islas" />
                        <p>Islas</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/entre.webp" alt="Entretenimiento" />
                        <p>Cine</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/arte.webp" alt="Arte" />
                        <p>Arte</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/deporte.webp" alt="Deporte" />
                        <p>Deporte</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/historia.webp" alt="Historia" />
                        <p>Historia</p>
                    </div>
                </a>
                <a href="">
                    <div class="circle-cat">
                        <img src="../../public/images/categorias/playas.webp" alt="Playas" />
                        <p>Playas</p>
                    </div>
                </a>
            </div>
            <div class="filtro-ordenar">
                <div class="btn-filter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M9 5a1 1 0 1 0 0 2a1 1 0 0 0 0-2M6.17 5a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-7.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 0 1 0-2zM15 11a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-2.83 0a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-1.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 1 1 0-2zM9 17a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-2.83 0a3.001 3.001 0 0 1 5.66 0H19a1 1 0 1 1 0 2h-7.17a3.001 3.001 0 0 1-5.66 0H5a1 1 0 1 1 0-2z">
                        </path>
                    </svg>
                    <p>Filtro & Ordenar</p>
                </div>
            </div>
        </div>
    </section>

    <section class="content-eta">
        <div class="content-eta-container">
            <div class="card-eta">
                <img src="../../public/images/card3.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <div class="card-eta">
                <img src="../../public/images/card1.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <div class="card-eta">
                <img src="../../public/images/card1.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <div class="card-eta">
                <img src="../../public/images/card1.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <div class="card-eta">
                <img src="../../public/images/card1.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <div class="card-eta">
                <img src="../../public/images/card1.webp" alt="Imagen de evento" />
                <div class="card-eta-text">
                    <h3>Nombre del evento</h3>
                    <p>Descripción breve del evento, lugar o actividad.</p>
                    <p>Fecha y hora</p>
                    <p>Ubicación</p>
                </div>
            </div>
            <!-- Agregar más tarjetas según sea necesario -->
        </div>
        <div class="container-map">
                <div class="map-img"></div>
        </div>
    </section>
    <section class="reseñas">
    </section>

</body>

</html>