---
import "../styles/categories.css";
---

<section class="Categories flex w-full h-fit flex-col">
    <h2 class="h2_categories">Categories</h2>
    <div class="container-categories flex justify-center gap-10">
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img
                    class="w-[100px] h-[100px] rounded-full object-cover"
                    src="../../public/images/categorias/iconic.webp"
                    alt="Categoria Iconicos"
                />
                <p>Icónicos</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/acuatico.webp" alt="Categoria Acuáticos" />
                <p>Acuáticos</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/foodie.webp" alt="Foodies" />
                <p>Foodies</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/islas.webp" alt="Islas" />
                <p>Islas</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/entre.webp" alt="Entretenimiento" />
                <p>Entretenimiento</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/arte.webp" alt="Arte" />
                <p>Arte</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/deporte.webp" alt="Deporte" />
                <p>Deporte</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/historia.webp" alt="Historia" />
                <p>Historia</p>
            </div>
        </a>
        <a href="">
            <div class="links flex flex-col justify-center items-center gap-2">
                <img class="w-[100px] h-[100px] rounded-full object-cover" src="../../public/images/categorias/playas.webp" alt="Playas" />
                <p>Playas</p>
            </div>
        </a>    
    </div>
    <div class="flex justify-end ver_mas" >
        <a href="">ver mas</a>
    </div>
</section>
