<section class="ept flex justify-center gap-2">
    <a href="#Events">Events</a>
    <p>|</p>
    <a href="">Places</a>
    <p>|</p>
    <a href="Trips">Trips</a>
</section>

<style>
    .ept{
        padding-top: 35px;
        margin: 0;
    }

    .ept > a{
        transition: 0.5s;
    }

    .ept > a:hover {
        text-decoration: underline;
    }
</style>