---
const props = Astro.props;
---

<footer>
    <div class="info-footer flex flex-col">
        <div>
            <img
                class="logo-footer"
                src="../../public/images/logo.webp"
                alt=""
            />
        </div>
        <div class="links-container-footer">
            <div class="links-footer">
                <a href="" class="font-bold">Explorar</a>
                <a href="Paises">Paises</a>
                <a href="">Eventos</a>
                <a href="">Lugares</a>
                <a href="">Actividades</a>
                <a href="">Toures</a>
                <a href="">Rutas</a>
            </div>
            <div class="links-footer">
                <a href="" class="font-bold">Mapas</a>
                <a href="">Guardados</a>
                <a href="">Crear Rutas</a>
                <a href="">Crear Actividad</a>
            </div>
            <div class="links-footer">
                <a href="" class="font-bold">Empresa</a>
                <a href="">Acerca de Ept</a>
                <a href="">Empleo</a>
                <a href="">Afiliados</a>
                <a href="">Influencers</a>
            </div>
            <div class="links-footer">
                <a href="" class="font-bold">Comunidad</a>
                <a href="">Soporte</a>
                <a href="">Regala EPT pluss </a>
            </div>
        </div>

        <div class="social_footer mt-7  grid grid-cols-3">
            <div class="download flex flex-col items-start justify-start">
                <p>Una aplicacion para disfruta al maximo de [city]</p>
                <div class="flex gap-4 mt-4px">
                    <a href=""><img src="../../public/images/appstore.webp" alt="apple" class="w-[125px]  "></a>
                    <a href="andor"><img src="../../public/images/googleplay.webp" alt="android" class="w-[130px]"></a>
                </div>
            </div>
            <div class="sponsor flex flex-col items-start justify-start">
                <p>Miembros de EPT</p>
                <div class="flex gap-3.5 mt-4px">
                    <a href=""><img class="w-[130px]" src="../../public/images/fiscalia.webp" alt="fiscalia" /></a>
                    <a href=""><img class="w-[130px]" src="../../public/images/ministerio.webp" alt="ministerio" /></a>
                    <a href="" class="white-bg w-[130px]"><img src="../../public/images/alcadia.webp" alt="alcadia" /></a>
                </div>
            </div>
            <div class="social_medias_links flex flex-col items-start justify-start">
                <p>Conectate con nosotros</p>
                <div class="icon_social flex gap-3 mt-4px">
                    <a href=""
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            {...props}
                        >
                            <path
                                fill="currentColor"
                                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                            ></path>
                        </svg></a
                    >
                    <a href="">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            {...props}
                        >
                            <path
                                fill="currentColor"
                                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
                            ></path>
                        </svg>
                    </a>
                    <a href="">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            {...props}
                        >
                            <path
                                fill="currentColor"
                                d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
                            ></path>
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" {...props}>
                            <path fill="currentColor" d="M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright grid">
            <div class="info_copy flex flex-col">
                <p>© 2025-2025 EPT, LLC</p>
                <p>EPT® y EPT Mountain Design son marcas registradas de EPT, LLC tanto en Estados Unidos como en otras jurisdicciones.<p>
                <p>FIND YOUR WAY OUTSIDE™ es una marca registrada de EPT, LLC.</p>
                <div class="flex gap-4">
                    <a href="">terminos</a>
                    <a href="condi">condiciones</a>
                </div>
            </div>
            <div class="languages flex justify-center">
                <select name="" id="">
                    <option value="">español</option>
                    <option value="">English</option>
                </select>
            </div>

        </div>
    </div>
</footer>

<style>

    .white-bg{
        background: #fff;
    }
    .social_medias_links{
        padding-bottom: 10px;
    }
    .copyright{
        border-top: 1px solid white;
        width: 13510px;
        margin: 0 auto;
        grid-template-columns: 4fr 1fr;
        padding: 10px 0px;
    }
    footer {
        width: 100%;

        background-color: var(--color-deep-navy);
        padding: 3rem 3.5rem;
        color: var(--color-white);
    }

    .info-footer {
        width: 100%;
        max-width: 1351px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .logo-footer {
        width: 40px;
        margin-bottom: 40px;
    }

    .links-container-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .links-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        text-align: start;
    }

    .social_footer{
        margin-top: 30px;
        padding-bottom: 10px;
    }

    .icon_social svg{
        width: 26px;
        height: 26px;
    }

    .mt-4px{
        margin-top: 4px;
    }
</style>
