<section class="plans">
    <div class="card-plans">
        <div class="plans-img flex items-center justify-center">
            <img src="../../public/images/planes.webp" alt="cartas">
        </div>
        <div class="plans-texts flex flex-col items-start justify-center">
            <p class="title-plans">Descubre Aventuras Completas</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit dkjfhajkfhkajsd.</p>
            <button>Planes Gratis</button>
        </div>
    </div>
</section>

<style>
    .plans{
        height: fit-content;
        padding: 20px;
    }
    .card-plans{
        display: grid;
        grid-template-columns: 2fr 1.3fr;
        width: 90%;
        min-height: 350px;
        margin: 30px auto;
        border-radius: 16px;
        background: var(--color-light-blue);
    }

    .plans-img{
        width: 100%;
    }

    .plans-texts button{
        background: var(--color-deep-navy);
        padding: 4px 20px;
        border-radius: 18px;
        margin-top: 25px;
        color: var(--color-white);
    }

    .title-plans{
        
        font-weight: 700;
        font-size: 30px;
    }

</style>